.breadcrumbs {
  padding-block: 20px;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--c-gray);

    &::after {
      content: '/';
      width: 16px;
      text-align: center;
    }
  }

  &__link--current {
    color: var(--c-dark);

    &::after {
      content: none;
    }
  }
}