.bike-card {
  padding: 16px;
  box-shadow: 0px 0px 32px 8px rgba(0, 0, 0, 0.08);

  .btn {
    border-color: transparent;
    color: var(--c-pink)
  }

  &__img {
    margin-bottom: 25px;
  }

  &__content {
    padding: 16px;
  }

  &__title {
    font-weight: 500;
  }

  &__label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 18px;
  }

  &__cost {
    font-weight: 600;
  }
}