<article class="bike-card">
  <img class="bike-card__img" src="/src/assets/images/bicycles/{{bikeImageName}}.webp" alt="{{bikeImageAlt}}"
    width="245" height="184" loading="lazy">
  <div class="bike-card__content">
    <h3 class="bike-card__title">{{bikeName}}</h3>
    <p class="bike-card__label">{{bikeLabel}}</p>
    <div class="bike-card__bottom">
      <div class="bike-card__price">
        <span class="bike-card__cost">&dollar; {{bikePrice}}</span> / Days
      </div>
      <button class="btn btn--white" type="button">rent</button>
    </div>
  </div>
</article>