@use '../../../../styles/mixins/' as*;

.discount {
  @include bg-cover;

  padding-block: 80px;

  &__inner {
    display: flex;
  }

  .content {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
  }

  .title {
    margin-bottom: 50px;
  }
}