.feedback-card {
  max-width: 430px;
  padding: 55px;

  &__body {
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    font-weight: 500;
  }

  &__info {
    font-size: 12px;
    font-weight: 300;
    color: var(--c-gray);
  }
}