<ul class="social">
  <li>
    <a class="social__link icon icon-fb" href="#" target="_blank">
      <span class="sr-only">Go to our facebook page</span>
    </a>
  </li>
  <li>
    <a class="social__link icon icon-insta" href="#" target="_blank">
      <span class="sr-only">Go to our instagram page</span>
    </a>
  </li>
  <li>
    <a class="social__link icon icon-youtube" href="#" target="_blank">
      <span class="sr-only">Go to our youtube page</span>
    </a>
  </li>
  <li>
    <a class="social__link icon icon-x" href="#" target="_blank">
      <span class="sr-only">Go to our X page</span>
    </a>
  </li>
</ul>